.table {
  margin-top: 20px;
  overflow: scroll;
  height: 600px;
  color: gray;
  background-color: white;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table td {
  padding: 0.5rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
